[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public/public"]
	path = public/public
	url = https://github.com/Gall-ardo/Gall-ardo.github.io.git
	branch = main
